---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import { Size } from "../types";
---

<Layout title="Welcome to Astro." description="lorem">
  <Heading size={Size.XL}>Společně na cestě za zdravím vašich dětí</Heading>
  <p>
    Vítáme vás na stránkách Pediatrie Litochleby MUDr. Kateřiny Rieger
    Konopáskové nacházející se na Poliklinice Litochleby na pražském Chodově.
    Jsme ordinace s dlouhodobou praxí, která byla založena v devadesátých letech
    MUDr. Marcelou Machynkovou, jejíž pokračovatkou je atestované lékařka s
    dlouholetouetou praxí v ambulantní a nemocniční pediatrii MUDr. Kateřina
    Rieger Konopásková. Nabízíme komplexní péči o pacienty od narození až do
    dospělosti,
  </p>
  <ul class="link-card-grid">
    <Card
      href="https://docs.astro.build/"
      title="Documentation"
      body="Learn how Astro works and explore the official API docs."
    />
    <Card
      href="https://astro.build/integrations/"
      title="Integrations"
      body="Supercharge your project with new frameworks and libraries."
    />
    <Card
      href="https://astro.build/themes/"
      title="Themes"
      body="Explore a galaxy of community-built starter themes."
    />
    <Card
      href="https://astro.build/chat/"
      title="Community"
      body="Come say hi to our amazing Discord community. ❤️"
    />
  </ul>
</Layout>
