---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import { Size } from "../types";
import { Image } from "astro:assets";
import heroImage from "../images/hero.webp";
import doctorImage from "../images/katerina.webp";
import config from "../../config";
import Button from "../components/Button.astro";
import Feature from "../components/Feature.astro";
import Intro from "../components/Intro.astro";
---

<Layout
  title={config.links.insurance.title}
  description={config.links.insurance.description}
>
  <Intro key="insurance" />
  <section class="bg-gray-50 py-16">
    <ul class="container text-lg space-y-8">
      <li>
        <span class="font-bold block text-3xl">111</span> Všeobecná zdravotní
        pojišťovna
      </li>
      <li>
        <span class="font-bold block text-3xl">201</span> Vojenská zdravotní
        pojišťovna
      </li>
      <li>
        <span class="font-bold block text-3xl">207</span> Oborová ZP zam. bank,
        pojišťoven a stavebnictví
      </li>
      <li>
        <span class="font-bold block text-3xl">211</span> Zdravotní pojišťovna
        ministerstva vnitra
      </li>
    </ul>
  </section>
</Layout>
